AplicacionWeb/Connected Services/ProxyHuesped/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHuespedReporteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HuespedReporteBE" nillable="true" type="tns:HuespedReporteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHuespedReporteBE" nillable="true" type="tns:ArrayOfHuespedReporteBE" />
  <xs:complexType name="HuespedReporteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HuespedReporteBE" nillable="true" type="tns:HuespedReporteBE" />
</xs:schema>