AplicacionWeb/Connected Services/ProxyHuesped/Servicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://desktop-9er81hg/Servicios/Servicio.ServiceHuesped.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="contarHuespedesPorPais">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="contarHuespedesPorPaisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="contarHuespedesPorPaisResult" nillable="true" type="q1:ArrayOfHuespedReporteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDineroGastadoPorHuesped">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idTipoDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numDoc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDineroGastadoPorHuespedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="obtenerDineroGastadoPorHuespedResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarHuesped">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="objHuespedBE" nillable="true" type="q2:HuespedBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarHuespedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarHuespedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>