AplicacionWeb/Connected Services/ProxyHuesped/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceHuesped" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceHuesped_obtenerHuesped_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerHuesped" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_obtenerHuesped_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerHuespedResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_contarHuespedesPorPais_InputMessage">
    <wsdl:part name="parameters" element="tns:contarHuespedesPorPais" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_contarHuespedesPorPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:contarHuespedesPorPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_obtenerHuespedesPorPais_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerHuespedesPorPais" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_obtenerHuespedesPorPais_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerHuespedesPorPaisResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_obtenerDineroGastadoPorHuesped_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDineroGastadoPorHuesped" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_obtenerDineroGastadoPorHuesped_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerDineroGastadoPorHuespedResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_registrarHuesped_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarHuesped" />
  </wsdl:message>
  <wsdl:message name="IServiceHuesped_registrarHuesped_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarHuespedResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceHuesped">
    <wsdl:operation name="obtenerHuesped">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHuesped/obtenerHuesped" message="tns:IServiceHuesped_obtenerHuesped_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHuesped/obtenerHuespedResponse" message="tns:IServiceHuesped_obtenerHuesped_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="contarHuespedesPorPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHuesped/contarHuespedesPorPais" message="tns:IServiceHuesped_contarHuespedesPorPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHuesped/contarHuespedesPorPaisResponse" message="tns:IServiceHuesped_contarHuespedesPorPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerHuespedesPorPais">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHuesped/obtenerHuespedesPorPais" message="tns:IServiceHuesped_obtenerHuespedesPorPais_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHuesped/obtenerHuespedesPorPaisResponse" message="tns:IServiceHuesped_obtenerHuespedesPorPais_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerDineroGastadoPorHuesped">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHuesped/obtenerDineroGastadoPorHuesped" message="tns:IServiceHuesped_obtenerDineroGastadoPorHuesped_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHuesped/obtenerDineroGastadoPorHuespedResponse" message="tns:IServiceHuesped_obtenerDineroGastadoPorHuesped_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarHuesped">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceHuesped/registrarHuesped" message="tns:IServiceHuesped_registrarHuesped_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceHuesped/registrarHuespedResponse" message="tns:IServiceHuesped_registrarHuesped_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceHuesped" type="tns:IServiceHuesped">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerHuesped">
      <soap:operation soapAction="http://tempuri.org/IServiceHuesped/obtenerHuesped" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="contarHuespedesPorPais">
      <soap:operation soapAction="http://tempuri.org/IServiceHuesped/contarHuespedesPorPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerHuespedesPorPais">
      <soap:operation soapAction="http://tempuri.org/IServiceHuesped/obtenerHuespedesPorPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDineroGastadoPorHuesped">
      <soap:operation soapAction="http://tempuri.org/IServiceHuesped/obtenerDineroGastadoPorHuesped" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarHuesped">
      <soap:operation soapAction="http://tempuri.org/IServiceHuesped/registrarHuesped" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceHuesped">
    <wsdl:port name="BasicHttpBinding_IServiceHuesped" binding="tns:BasicHttpBinding_IServiceHuesped">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicio/ServiceHuesped/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>