AplicacionWeb/Connected Services/ProxyUbigeo/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="obtenerPaises">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerPaisesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obtenerPaisesResult" nillable="true" type="q1:ArrayOfPaisBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obtenerDepartamentosResult" nillable="true" type="q2:ArrayOfDepartamentoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerProvincias">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerProvinciasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obtenerProvinciasResult" nillable="true" type="q3:ArrayOfProvinciaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDistritos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idDepartamento" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idProvincia" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDistritosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obtenerDistritosResult" nillable="true" type="q4:ArrayOfDistritoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>