AplicacionWeb/Connected Services/ProxyUbigeo/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPaisBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaisBE" nillable="true" type="tns:PaisBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaisBE" nillable="true" type="tns:ArrayOfPaisBE" />
  <xs:complexType name="PaisBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaisBE" nillable="true" type="tns:PaisBE" />
  <xs:complexType name="ArrayOfDepartamentoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DepartamentoBE" nillable="true" type="tns:DepartamentoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDepartamentoBE" nillable="true" type="tns:ArrayOfDepartamentoBE" />
  <xs:complexType name="DepartamentoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDepartamento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DepartamentoBE" nillable="true" type="tns:DepartamentoBE" />
  <xs:complexType name="ArrayOfProvinciaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProvinciaBE" nillable="true" type="tns:ProvinciaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProvinciaBE" nillable="true" type="tns:ArrayOfProvinciaBE" />
  <xs:complexType name="ProvinciaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProvinciaBE" nillable="true" type="tns:ProvinciaBE" />
  <xs:complexType name="ArrayOfDistritoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DistritoBE" nillable="true" type="tns:DistritoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDistritoBE" nillable="true" type="tns:ArrayOfDistritoBE" />
  <xs:complexType name="DistritoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdDistrito" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DistritoBE" nillable="true" type="tns:DistritoBE" />
</xs:schema>