AplicacionWeb/Connected Services/ProxyReserva/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceReserva" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceReserva_listarReservasPorHuesped_InputMessage">
    <wsdl:part name="parameters" element="tns:listarReservasPorHuesped" />
  </wsdl:message>
  <wsdl:message name="IServiceReserva_listarReservasPorHuesped_OutputMessage">
    <wsdl:part name="parameters" element="tns:listarReservasPorHuespedResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceReserva_registrarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:registrarReserva" />
  </wsdl:message>
  <wsdl:message name="IServiceReserva_registrarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:registrarReservaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceReserva">
    <wsdl:operation name="listarReservasPorHuesped">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReserva/listarReservasPorHuesped" message="tns:IServiceReserva_listarReservasPorHuesped_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReserva/listarReservasPorHuespedResponse" message="tns:IServiceReserva_listarReservasPorHuesped_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="registrarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceReserva/registrarReserva" message="tns:IServiceReserva_registrarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceReserva/registrarReservaResponse" message="tns:IServiceReserva_registrarReserva_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceReserva" type="tns:IServiceReserva">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listarReservasPorHuesped">
      <soap:operation soapAction="http://tempuri.org/IServiceReserva/listarReservasPorHuesped" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="registrarReserva">
      <soap:operation soapAction="http://tempuri.org/IServiceReserva/registrarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceReserva">
    <wsdl:port name="BasicHttpBinding_IServiceReserva" binding="tns:BasicHttpBinding_IServiceReserva">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicio/ServiceReserva/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>