AplicacionWeb/Connected Services/ProxyReserva/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReservaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservaBE" nillable="true" type="tns:ReservaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservaBE" nillable="true" type="tns:ArrayOfReservaBE" />
  <xs:complexType name="ReservaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Huesped" nillable="true" type="tns:HuespedBE" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoPago" type="xs:int" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Piso" type="xs:int" />
      <xs:element minOccurs="0" name="TipoPago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaBE" nillable="true" type="tns:ReservaBE" />
  <xs:complexType name="HuespedBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdPais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoDoc" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HuespedBE" nillable="true" type="tns:HuespedBE" />
  <xs:complexType name="ArrayOfHuespedBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HuespedBE" nillable="true" type="tns:HuespedBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHuespedBE" nillable="true" type="tns:ArrayOfHuespedBE" />
  <xs:complexType name="ArrayOfAmbienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AmbienteBE" nillable="true" type="tns:AmbienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmbienteBE" nillable="true" type="tns:ArrayOfAmbienteBE" />
  <xs:complexType name="AmbienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aforo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdAmbiente" type="xs:int" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Piso" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmbienteBE" nillable="true" type="tns:AmbienteBE" />
</xs:schema>