AplicacionWeb/Connected Services/ProxyReserva/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="listarReservasPorHuesped">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTipoDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numDoc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarReservasPorHuespedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="listarReservasPorHuespedResult" nillable="true" type="q1:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarReservasPorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarReservasPorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="listarReservasPorFechaResult" nillable="true" type="q2:ArrayOfReservaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="lstHuespedBE" nillable="true" type="q3:ArrayOfHuespedBE" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="lstAmbienteBE" nillable="true" type="q4:ArrayOfAmbienteBE" />
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaSalida" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idTipoPago" type="xs:int" />
        <xs:element minOccurs="0" name="monto" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registrarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registrarReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>