AplicacionWeb/Connected Services/ProxyReserva/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfReservaBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservaBE" nillable="true" type="tns:ReservaBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservaBE" nillable="true" type="tns:ArrayOfReservaBE" />
  <xs:complexType name="ReservaBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dni" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FechaSalida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Huesped" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdTipoPago" type="xs:int" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Monto" type="xs:decimal" />
      <xs:element minOccurs="0" name="Piso" type="xs:int" />
      <xs:element minOccurs="0" name="TipoPago" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaBE" nillable="true" type="tns:ReservaBE" />
</xs:schema>