AplicacionWeb/Connected Services/ProxyAmbiente/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAmbienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AmbienteBE" nillable="true" type="tns:AmbienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmbienteBE" nillable="true" type="tns:ArrayOfAmbienteBE" />
  <xs:complexType name="AmbienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aforo" type="xs:int" />
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identificador" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piso" type="xs:int" />
      <xs:element minOccurs="0" name="Precio" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AmbienteBE" nillable="true" type="tns:AmbienteBE" />
</xs:schema>