AplicacionWeb/Connected Services/ProxyAmbiente/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceAmbiente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceAmbiente_obtenerAmbienteDisponiblePorFecha_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAmbienteDisponiblePorFecha" />
  </wsdl:message>
  <wsdl:message name="IServiceAmbiente_obtenerAmbienteDisponiblePorFecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAmbienteDisponiblePorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAmbiente_obtenerAmbienteDisponiblePorRangoDePrecios_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAmbienteDisponiblePorRangoDePrecios" />
  </wsdl:message>
  <wsdl:message name="IServiceAmbiente_obtenerAmbienteDisponiblePorRangoDePrecios_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAmbienteDisponiblePorRangoDePreciosResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceAmbiente_obtenerAmbienteDisponiblePorAforo_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAmbienteDisponiblePorAforo" />
  </wsdl:message>
  <wsdl:message name="IServiceAmbiente_obtenerAmbienteDisponiblePorAforo_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerAmbienteDisponiblePorAforoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceAmbiente">
    <wsdl:operation name="obtenerAmbienteDisponiblePorFecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorFecha" message="tns:IServiceAmbiente_obtenerAmbienteDisponiblePorFecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorFechaResponse" message="tns:IServiceAmbiente_obtenerAmbienteDisponiblePorFecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerAmbienteDisponiblePorRangoDePrecios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorRangoDePrecios" message="tns:IServiceAmbiente_obtenerAmbienteDisponiblePorRangoDePrecios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorRangoDePreciosResponse" message="tns:IServiceAmbiente_obtenerAmbienteDisponiblePorRangoDePrecios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerAmbienteDisponiblePorAforo">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorAforo" message="tns:IServiceAmbiente_obtenerAmbienteDisponiblePorAforo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorAforoResponse" message="tns:IServiceAmbiente_obtenerAmbienteDisponiblePorAforo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceAmbiente" type="tns:IServiceAmbiente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerAmbienteDisponiblePorFecha">
      <soap:operation soapAction="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerAmbienteDisponiblePorRangoDePrecios">
      <soap:operation soapAction="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorRangoDePrecios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerAmbienteDisponiblePorAforo">
      <soap:operation soapAction="http://tempuri.org/IServiceAmbiente/obtenerAmbienteDisponiblePorAforo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAmbiente">
    <wsdl:port name="BasicHttpBinding_IServiceAmbiente" binding="tns:BasicHttpBinding_IServiceAmbiente">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/Servicio/ServiceAmbiente/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>