AplicacionWeb/Connected Services/ProxyAmbiente/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="obtenerAmbienteDisponiblePorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAmbienteDisponiblePorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obtenerAmbienteDisponiblePorFechaResult" nillable="true" type="q1:ArrayOfAmbienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAmbienteDisponiblePorRangoDePrecios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="precioMenor" type="xs:decimal" />
        <xs:element minOccurs="0" name="precioMayor" type="xs:decimal" />
        <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAmbienteDisponiblePorRangoDePreciosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obtenerAmbienteDisponiblePorRangoDePreciosResult" nillable="true" type="q2:ArrayOfAmbienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAmbienteDisponiblePorAforo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFinal" type="xs:dateTime" />
        <xs:element minOccurs="0" name="aforoMenor" type="xs:int" />
        <xs:element minOccurs="0" name="aforoMayor" type="xs:int" />
        <xs:element minOccurs="0" name="idUbigeo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerAmbienteDisponiblePorAforoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="obtenerAmbienteDisponiblePorAforoResult" nillable="true" type="q3:ArrayOfAmbienteBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>