AplicacionWeb/Connected Services/ProxyTipoPago/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoPagoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPagoBE" nillable="true" type="tns:TipoPagoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPagoBE" nillable="true" type="tns:ArrayOfTipoPagoBE" />
  <xs:complexType name="TipoPagoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoPagoBE" nillable="true" type="tns:TipoPagoBE" />
</xs:schema>