AplicacionWeb/Connected Services/ProxyTipoDocumento/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoDocumentoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoDocumentoBE" nillable="true" type="tns:TipoDocumentoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoDocumentoBE" nillable="true" type="tns:ArrayOfTipoDocumentoBE" />
  <xs:complexType name="TipoDocumentoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoDocumentoBE" nillable="true" type="tns:TipoDocumentoBE" />
</xs:schema>